<h1><%= @scorecard.course_name %></h1>

<h2><%= @scorecard.strokes %></h2>
<h2><%= @scorecard.score %></h2>
<h2><%= @scorecard.date %></h2>

<% if current_user.id == @scorecard.user_id %>
    <input type="button" onclick="location.href='/scorecards/<%=@scorecard.id%>/edit';" value="EDIT">

    <form action="/scorecards/<%=@scorecard.id%>" method="POST">
        <input type="hidden" id="hidden" name="_method" value="DELETE">
        <input type="submit" value="DELETE">
    </form>
<br><br>

<% end %>




<p><a href="/scorecards"> Click here to go back to Scorecards</a></p>
